/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: serif, sans-serif;
    color: #222;
    line-height: 1.6;
    background: #F0EBEB;
}

h1, h2, h3 {
    margin: 10px 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a2a43; /* navy */
    padding: 20px 34px;
    color: #fff;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
}

.logo-img {
    height: 60px;
    width: auto;
    border-radius: 14px;
}

/* Nav links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #f1c40f; /* gold hover */
}

/* Hamburger */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

/* Hero Section */
.hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/bg3.jpeg") no-repeat center top;
    background-size: cover;
    background-attachment: scroll;
}

.hero-content {
    background: rgba(0, 0, 0, 0.4);
    padding: 300px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    margin-top: 15px;
    background: #A37B2C; /* gold */
    color: #000; /* black text */
    text-decoration: none;
    border-radius: 12px;
    transition: 0.3s;
    font-weight: bold;
    border: none;
}

.btn:hover {
    background: #C49E3E; /* lighter gold */
    color: #0a2a43; /* navy text */
}

.section-divider {
    border: none;
    height: 1%;
    background-color: #3c78ac8b;
    margin: 40px 0;
}

/* Sections */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section.dark {
    background: #ffffff;
}

/* Service Cards */
.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #fefefe;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0,0,0

